:root {
  --astro-code-color-text: #fff;
  --astro-code-color-background: #262626;
  --astro-code-token-constant: #93c5fd;
  --astro-code-token-string: #fff;
  --astro-code-token-comment: #94a3b8;
  --astro-code-token-keyword: #f87171;
  --astro-code-token-parameter: #0ea5e9;
  --astro-code-token-function: #c084fc;
  --astro-code-token-string-expression: #93c5fd;
  --astro-code-token-punctuation: #eeeeee;
  --astro-code-token-link: #eeeeee;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.prose p,
.prose strong,
.prose li {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.prose pre {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem;
  font-weight: 400;
  background-color: #262626;
  overflow: auto;
}

.prose pre > code {
  padding-left: 0;
  padding-right: 0;
}

.prose code {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem 0.125rem;
  font-weight: 400;
  background-color: #262626;
  overflow: auto;
}

code::after,
code::before {
  display: none;
}

.prose ul {
  color: #fff;
  list-style-type: disc;
  list-style-position: inside;
}

@media (max-width: 768px) {
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .prose p,
  .prose strong,
  .prose li {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .prose pre {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .prose code {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #171717;
}

::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #404040;
}
