:root {
  --astro-code-color-text: #eeeeee;
  --astro-code-color-background: #334155;
  --astro-code-token-constant: #eeeeee;
  --astro-code-token-string: #22d3ee;
  --astro-code-token-comment: #94a3b8;
  --astro-code-token-keyword: #38bdf8;
  --astro-code-token-parameter: #0ea5e9;
  --astro-code-token-function: #38bdf8;
  --astro-code-token-string-expression: #34d399;
  --astro-code-token-punctuation: #eeeeee;
  --astro-code-token-link: #eeeeee;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-white font-bold;
}

.prose p,
.prose strong {
  @apply text-white text-lg;
}

.prose code {
  @apply text-white rounded py-0.5 font-normal bg-slate-700 overflow-auto;
}

code::after,
code::before {
  @apply hidden;
}

.prose ul {
  @apply list-disc list-inside text-white;
}
