---
import Navbar from "../components/navbar.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Blog512x512.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>404</title>
  </head>
  <body
    class="flex flex-col w-full justify-start h-full min-h-screen font-sans text-white bg-slate-800"
  >
    <Navbar />
    <main
      class="flex flex-col mx-auto h-full justify-center items-center flex-1 desktop:max-w-[72rem] px-4 gap-10 my-4"
    >
      <h1 class="font-bold desktop:text-6xl text-3xl leading-none">404</h1>
      <p class="font-semibold desktop:text-xl text-base">
        Woah, how did you end up here?
      </p>
      <a
        href="/"
        class="px-4 py-2 font-bold desktop:text-xl text-base rounded bg-slate-600 hover:bg-slate-700 text-white transition-all"
        >Back home</a
      >
    </main>
  </body>
</html>
