---
import Navbar from "../components/navbar.svelte";
import IndexBlogPosts from "../components/indexBlogPosts.svelte";
import "../styles/index.css";
const posts = await Astro.glob("../pages/blogs/*.mdx");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/blogLogo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pranjal's blog</title>
  </head>
  <body
    class="flex flex-col w-full justify-start h-full min-h-screen font-sans text-white bg-neutral-900 z-10"
  >
    <Navbar />
    <main
      class="z-10 flex flex-col mx-auto h-full md:max-w-3xl gap-8 md:px-2 px-4 md:py-8 py-4 overflow-y-auto"
    >
      <p class="md:text-lg text-base">
        Welcome to my blog, where I'll be sharing my experiences as a software
        developer delving into the world of machine learning. Join me on this
        journey of learning, challenges, and discoveries as I explore the
        exciting realm of AI and its applications. Let's learn and grow
        together! Check out my portoflio site <span
          ><a
            href="https://pranjalg420.vercel.app"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-500 hover:underline underline-offset-2 transition-all"
            >here</a
          ></span
        >.
      </p>
      <IndexBlogPosts posts={posts} client:only={"svelte"} />
    </main>
  </body>
</html>
